$primary:#0D2240;
$secondary:#EBB700;
$margin: 0 auto;


.mt-5{
  margin-top: 7rem !important;

}

.line{
  margin:0;
  margin-bottom: 15px;
  height: 7px;
  width: 60%;
}

.hedline-wrapper {
  margin-top: 50px;
  margin-bottom: 5rem;


  .headline{
    margin: $margin;
    width: 80%;
    text-align: center;
    font-family: "Helvetica Neue ";
  }


}


.container{
  margin-top: 100px;

  .center{
    margin:$margin;
    width: 100%;

    .row{
      margin:$margin;
      width: 100%;

      .card{
        margin:$margin;
        width: 100%;

        .card-img-top{
          padding: 10px 10px 10px 10px;
        }


      }
    }
  }

}








